#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: #FFF;
}

.nav-menu-button {
    cursor: pointer;
    background: inherit;
    color: #000;
    font-family: 'Product Sans Medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    text-decoration: none;
}

.nav-menu-button:hover {
  color: #91C326;
}

.active {
  color: #91C326;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 10px 20px;
  }

.dropdown-content a {
    display: block;
    text-align: left;
    padding: 8px 0;
    text-decoration: none;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }