<section id="contact-us">
    <main style="min-width: 1180px; padding: 0 80px;">
        <div style="display: flex; flex-direction: row; padding: 30px 0; flex-wrap: wrap; border-bottom: 0.6px solid #91C326;">
            <div style="width: 45%; min-width: 300px; border-right: 1px solid #91C326;">
                <h1 style="margin-top: 20px;">Contact Us</h1>
                <table>
                    <tr>
                        <td><img src="assets/icons/contact-phone.svg" height="40" width="40" /></td>
                        <td>Phone Number :</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            +91-9692771088
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/icons/contact-mail.svg" height="40" width="40" /></td>
                        <td>Email Address :</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            info@jnghomes.in
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/icons/contact-location.svg" height="40" width="40" /></td>
                        <td>Office Address :</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Plot No-216/5, First Floor, 
                            Opposite to SBI Palaspalli, Aerodrome Area, 
                            Bhubaneswar, Odisha 751020.
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 50%; min-width: 300px; padding: 20px 20px 0;">
                <!-- <img src="assets/images/map.png" alt="Map" width="100%" style="cursor: pointer;" (click)="openMap();" /> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14973.013811878343!2d85.826133!3d20.2483207!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a79ddc059bef%3A0x94b97a49c369498c!2sJNG%20Homes%20Private%20Limited!5e0!3m2!1sen!2sin!4v1691662602824!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div style="padding: 40px 0; display: flex; justify-content: center; text-align: center;">
            <div>
                <p style="color: #91C326;
                font-family: Product Sans;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal; margin: 0 0 20px;">Be a part of JNG Homes</p>
                <p style="color: #2C2C2C;
                font-family: Product Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;">Partner with us or Collaborate with us.</p>
                <button style="border-radius: 20px;
                border: 1px solid #91C326;
                background: #91C326; color: #FFF; padding: 11px 22px; cursor: pointer;">Partner With Us</button>
            </div>
        </div>
    </main>
</section>