#contact-us {
    margin-top: 125px;
}

table {
    font-size: 20px;
    font-weight: 500;
    max-width: 600px;
    tr {
        padding: 28px 0;
        td {
            line-height: 2;
        }
    }
}