#landing {
    margin-top: 125px;
}

.stats-text {
    color: #FFF;
    font-family: Product Sans Medium;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.stats-subtext {
    color: #FFF;
    font-family: Product Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}